.show-more-button {
  width: 147px;
  height: 48px;
}
.homepage,
.stays-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.stays-section {
  align-self: stretch;
  padding: var(--padding-5xl) var(--padding-61xl);
  gap: var(--gap-3xl);
}
.homepage {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .stays-section {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .stays-section {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}