.login-form-container1,
.login-sections1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.login-form-container1 {
  width: 589px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.login-sections1 {
  align-self: stretch;
  justify-content: center;
  padding: 203.5px var(--padding-xl);
  box-sizing: border-box;
  background-image: url(/public/login-sections@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.contact-us1,
.localhost-inc-all1,
.privacy-policy1,
.terms-conditions1 {
  position: relative;
  line-height: 17px;
  font-weight: 300;
}
.contact-us1,
.privacy-policy1,
.terms-conditions1 {
  display: inline-block;
  min-width: 85px;
}
.contact-us1,
.terms-conditions1 {
  min-width: 120px;
}
.contact-us1 {
  min-width: 67px;
}
.footer-content1,
.footer-wrapper,
.legal-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.legal-links {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.footer-content1,
.footer-wrapper {
  max-width: 1280px;
}
.footer-content1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-wrapper {
  width: 100%;
  justify-content: center;
}
.footer-container,
.sign-in-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-container {
  align-self: stretch;
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-61xl) var(--padding-xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.sign-in-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
.sign-in-page:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1275px) {
  .footer-content1,
  .footer-wrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .login-sections1 {
    padding-top: var(--padding-113xl);
    padding-bottom: var(--padding-113xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .login-sections1 {
    gap: var(--gap-9xl);
    padding-top: var(--padding-67xl);
    padding-bottom: var(--padding-67xl);
    box-sizing: border-box;
  }
  .footer-content1 {
    flex-wrap: wrap;
  }
  .footer-container {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .legal-links {
    flex-wrap: wrap;
  }
}
